.navbar-brand {
  margin: 2px;
  text-align: left;
}

.name {
  font-size: 40px;
}

.blurb {
  font-size: 15px;
}

.location {
  font-size: 10px;
}

.campus-image {
  width: 150px;
  height: 100px;
  border-style: solid;
  border-width: 2px;
  border-color: lightsalmon;
}

.campuses-container {
  display: flex;
  flex-direction: column;
}

.campuses-container > div {
  margin: 20px;
  padding: 10px;
  text-align: left;
}

.single-campus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.campus-btn {
  margin: 0px 0px 0px 50px;
}

.single-campus-container {
  display: flex;
  flex-direction: column;
}

.single-campus-image {
  width: 800px;
  height: 400px;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  border-color: lightsalmon;
}

.name-container {
  display: flex;
  flex-direction: row;
}

.student-info-container {
  display: flex;
  flex-direction: column;
  align-self: auto;
  background-color: white;
}

.info-image-container {
  display: flex;
  flex-direction: row;
}

.info-box-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  border-style: solid;
  border-width: 4px;
  border-radius: 15px;
  border-color: darkturquoise;
  margin: 0px 0px 20px 30px;
  padding: 0px 40px 0px 0px;
}

.header-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
}

.header {
  font-size: 60px;
  text-align: left;
}

hr {
  border-style: solid;
  border-color: gray;
  width: 100%;
}
